body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Distribute the links evenly */
    background-color: #444; /* Add a background color to the nav bar */
    padding: 10px 0;
    width: 100%;
}

nav ul li {
    flex: 1; /* Make each list item take up an equal amount of space */
    text-align: center; /* Center the text within each list item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    width: 100%; /* Ensure the anchor takes up the full width of its parent */
}

nav ul li a:hover {
    background-color: #555; /* Change background on hover */
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: calc(100vh - 100px); /* Adjust height as necessary */
}

.container section {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container section h2 {
    width: 100%;  /* Make the header span the full width of the section */
    background-color: #444;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container section p {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
